.header {
  flex: 0 0 50px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #001F3F;
  height: auto;

  >button {
    border: 1px solid white;
    padding: 0.6rem;

    &,
    &:focus {
      outline: none;
    }
  }
}

.feedback {
  font-size: 1.2em;
  padding-top: 3px;
}

.pointer {
  cursor: pointer;
}

.navItem>li>a {
  color: #FFF !important;
  margin-left: 1em;
}

.navbarTogglerIcon {
  color: white;
}
