.header {
  flex: 0 0 50px;
}

header nav.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #001F3F;
  height: auto;
  justify-content: unset;

  .navbarBrandContainer {
    flex: 1;
  }

  :global(.nav-item.avatar) {
    >:global(.nav-link) {
      padding: 0;
      padding-left: 10px;
    }

    >:global(.dropdown-menu):focus {
      outline: none;
    }

    img {
      height: 36px;
    }

    :global(.dropdown-header) {
      font-size: 16px;

      &.email {
        font-size: 12px;
      }
    }
  }

  .dropDownMenu {
    background-color: #fafafa;
    padding: 0.4rem 0.8rem;
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  .googleSignInContainer {
    margin-left: 10px;
  }

  >button {
    border: 1px solid white;
    padding: 0.6rem;

    &,
    &:focus {
      outline: none;
    }
  }
}

.feedback {
  font-size: 1.2em;
  padding-top: 3px;
}

.pointer {
  cursor: pointer;
}

.navItem>li>a {
  color: #FFF !important;
  margin-left: 1em;
}

.navbarTogglerIcon {
  color: white;
}

.beta {
  margin-left: 10px;
  padding: 0 5px;
  background: white;
  border-radius: 4px;
  font: caption;
}

@media only screen and (max-width: 991px) {
  .googleSignInContainer {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  :global(.navbar-collapse) {
    order: 2;
  }
}

:global(.dropdonw-toggle) {
  cursor: pointer;
}
