@import '../../styles/links.scss';

.hrCustom:before {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow: visible;
    unicode-bidi: isolate;
    margin-block-start: 2.5em;
    margin-block-end: 2.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    content: '';
    width: 55%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;

    .btn {
        background-color: #31af08;
        max-width: 180px;
        padding: 15px 35px;
        color: white;
        margin: auto;
        margin-top: 15px;
        border-radius: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 30px;
        font-family: Verdana, Geneva, sans-serif;
        text-decoration: none;
    }
}

.signIn {
    position: relative;
    float: right;
    right: 24px;
    top: 18px;
    font-size: 18px;
    cursor: pointer;

    &,
    &:hover {
        @extend .resetLink;
    }
}

.title {
    margin-bottom: 120px;
}

.midLogo {
    max-width: 325px;
    position: relative;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.content {
    max-width: 830px;
    margin: auto;
    text-align: center;
    font-size: 16px;

    hr {
        margin: 40px auto;
        max-width: 325px;
    }
}

.midContainer {
    position: relative;
    margin-top: -42px;
    background: rgb(8, 28, 214);
    background: linear-gradient(180deg, rgba(8, 28, 214, 1) 0%, rgba(99, 112, 229, 1) 50%, rgba(151, 160, 238, 1) 80%, rgba(255, 255, 255, 1) 100%);
    text-align: center;
    padding: 10px;

    .largeText {
        line-height: 1;
        text-align: center;
        margin: 50px auto;
        color: white;
        padding: 50px 10px;
        font-size: 36px;
        font-weight: 600;
        max-width: 830px;
        margin-bottom: 0;
    }

    img {
        width: 100%;
        max-width: 830px;
        padding: 0 10px;
        margin: auto;
    }

    .midBottomText {
        margin: auto;
        margin-top: 35px;
        max-width: 830px;
        padding: 50px 10px;
        font-weight: 500;
        font-size: 16px;
    }
}

.features {
    max-width: 830px;
    padding: 40px 20px;
    padding-top: 0;
    margin: auto;

    .feature {

        &:before {
            @extend .hrCustom:before;
        }

        >*:first-child {
            padding-right: 35px;
            padding-left: 10px;
        }

        >*:nth-child(2) {
            padding-right: 10px;
            padding-left: 35px;
        }

        &.reverse {
            >*:first-child {
                padding-right: 10px;
                padding-left: 35px;
            }

            >*:nth-child(2) {
                padding-right: 35px;
                padding-left: 10px;
            }
        }

        .textSection {
            text-align: left;

            .header {
                font-size: 22px;
            }

            .textContent {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .signupBtn {
        max-width: 200px;
        margin-top: 50px;
    }

}

@media only screen and (min-width: 768px) {
    .features {
        .feature {
            display: flex;
            align-items: center;
            align-self: center;
            flex-wrap: wrap;

            .imageSection {
                width: 50%;

                img {
                    max-width: 100%;
                    max-height: 225px;
                }
            }

            .textSection {
                width: 50%;
            }

            &.reverse {
                flex-direction: row-reverse;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .features {
        .feature {
            .imageSection {
                padding-bottom: 20px;

                img {
                    max-width: 100%;
                    max-height: 175px;
                }
            }
        }
    }

    .midLogo {
        top: 32px;
    }

    .midContainer {
        margin-top: 0px;
    }
}

.signInLabel {
    height: 27px;
}
