.container {
    padding: 50px;

    .content {
        background: white;
        max-width: 450px;
        padding-bottom: 50px;
        width: 100%;
        margin: auto;
        text-align: center;
        border-radius: 4px;


        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;
    }
}

.text,
.header {
    font-size: 28px;
    font-weight: 400;
    color: #5a5a5a;
}

.text {
    font-size: 24px;
}

.pointer {
    cursor: pointer;
}

.logo {
    max-width: 240px;
    padding: 36px 24px;
    background: white;
    margin: auto;

    img {
        width: 100%;
    }
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;

    >li {
        padding: 10px;
        width: 50%;

        >* {
            margin: auto;
            display: block;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }

    .microsoftContainer {
        height: 100%;
        background: white;
        outline: 1px solid #00000024;
        cursor: pointer;
        max-width: 132px;
        // border: 1px solid black;

        img {
            padding: 8px 10px;
            margin-left: -10px;
        }

        span {
            color: #737373;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            vertical-align: middle;
        }
    }

    :global(.abcRioButtonSvgImageWithFallback) img {
        vertical-align: baseline;
    }

}

.googleBtn {
    height: 40px;
    width: 120px;
    padding: 0;

    :global(.abcRioButtonIcon) {
        height: 100%;
        width: 38px;

        :global(.abcRioButtonIconImage) {
            display: grid;
        }
    }
}

.benefitsLink {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 22px;
}
