@import '../../styles/colors.scss';

:global(.grid) {
    .tileContainer {
        width: 315px;
    }

    .tile {
        width: 315px;

        >&:nth-child(2) {
            width: 50%;
        }

        .header {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            height: 62px;

            img {
                margin-right: auto;
            }
        }

        .course {
            padding-top: 12px;
        }

        .content {
            height: 250px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .problemSetTitle {
            font-size: 32px;
            max-height: 100px;
        }

        &.newSet {
            margin: auto;
            border: 3px dashed #37345B;
            align-items: center;
            text-align: center;
            min-height: 400px;
            display: flex;

            svg {
                font-size: 84px;
                color: #61CBB8;
            }
        }
    }

    >* {
        cursor: pointer;
    }
}

:global(.line-item) {
    margin: 0;

    .tileContainer {
        width: 100%;

        .tile {
            display: flex;
            width: 100%;
            padding: 20px;
            padding-bottom: 12px;
            position: relative;

            .problemSetTitle {
                font-size: 22px;
                width: 100%;
            }

            .content {
                display: block;
                width: 100%;
                padding-right: 80px;
                justify-content: space-between;

                .mainContent {
                    display: grid;
                    padding-bottom: 12px;
                    padding-right: 20px;
                }

                .desc {
                    font-size: 20px;
                    color: #3F3A68;
                    font-weight: lighter;
                }
            }

            .header {
                margin-right: 45px;

                .iconContainer {
                    position: absolute;
                    display: flex;
                    right: 10px;
                    top: 10px;
                    padding: 8px;

                    .icon {
                        align-self: center;

                        svg {
                            font-size: 24px;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            .course {
                font-size: 14px;
            }

            .check {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}

.tileContainer {
    border-radius: 25px;
    display: flex;
    margin: 20px;

    &:nth-child(3n+1) {
        background: #E3FDF7;

        .header .number {
            background-color: #61CBB8;
        }
    }

    &:nth-child(3n+2) {
        background: rgba(245, 243, 255, 0.42);
    }

    &:nth-child(3n+3) {
        background: #FBE8E3;

        .header .number {
            background-color: #cc9586;
        }
    }
}

.tile {
    text-align: left;
    box-sizing: border-box;
    color: #37345B;
    border-radius: 30px;
    padding: 25px;
    min-height: 103px;

    .header {

        .number {
            width: 40px;
            height: 40px;
            border-radius: 12px;
            text-align: center;
            line-height: 40px;
            background-color: #6D6A92;
            color: white;
            font-size: 18px;
        }

        svg {
            font-size: 30px;
        }

        :global(.ant-dropdown-open) {
            background-color: $primary-color;
            color: white;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .icon {
            &:global(.ant-btn-icon-only) {
                padding: 6px 10px;
                width: 60px;
            }
        }
    }

    .check {
        svg {
            color: #61CBB8;
            background-color: $primary-color;
            border-color: #61CBB8;
            border-radius: 100%;
        }
    }

    .course {
        color: #6D6A92;
    }

    .problemSetTitle {
        font-weight: bold;
        color: #37345B;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    div {
        font-size: 18px;
        font-weight: 600;
    }

    .content {
        :global(.ML__fieldcontainer) {
            max-width: 60vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        :global(.ML__mathlive) {
            font: normal 0.8em KaTeX_Main, 'Times New Roman', serif;
            white-space: normal;
            display: inline;
            word-break: break-word;
        }
    }
}

>* {
    cursor: pointer;
}

@media (max-width: 610px) {
    :global(.grid) .tileContainer {
        width: 315px;
        margin: 10px auto;
    }
}

.menu {
    :global(.ant-dropdown-menu-item) button {
        color: white;
        padding-left: 8px;
        font-size: 16px;

        span {
            padding-left: 8px;
        }
    }
}

@media (max-width: 520px) {
    .tile {
        flex-wrap: wrap;
    }
}
