.header {
    font-weight: bold;
    float: left;
}

.step {
    font-size: 120%;
    margin-left: 75px;
    padding: 5px 30px 10px 0px;
    opacity: 0.65;
    margin-right: 0px;
    transition: all 1s;
}

.cleanup {
    color:rgb(114, 114, 114);
}

.annotationEquation {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: rgb(240, 240, 240);
    transition: all 0.3s;
}

.clearAll {
    height: 37px;
    border: 1px solid rgb(204, 204, 204);
}

.btnEdit {
    background-image: url(/src/images/pencil.png);
}

.btnDelete {
    background-image: url(/src/images/delete.png);
}

.cleanUpAnnotation {
    color:#727272;
}
