.container {
    display: block;
    width: 70px;
}

.container>span {
    flex: 1;
}

.container>span>.button {
    display: flex;
    transform: rotate(270deg);
    color: rgb(255, 255, 255);
}

.container>span>.scratch {
    transform-origin: 52% 146%;
}

.container>span>.symbols {
    transform-origin: 51% 155%;
}

.container>span>.button svg {
    padding-right: 5px;
}

.container>span>.scratchActive {
    background-color: rgb(0, 123, 255);
}

.container>span>.symbolsActive {
    background-color: rgb(72, 204, 112);
}

.container>span>.disabled {
    background-color: rgb(126, 126, 126);
}