.container {
    width: 30px;
    height: calc(100% + 8px);
    position: relative;
    z-index: 10;

    >span {
        flex: 1;
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        transform-origin: bottom left;
        position: relative;
        margin-left: -80px;
        top: -112px;

        &:first-child {
            .button {
                border-top-left-radius: 4px;
            }
        }

        &:last-child {
            .button {
                border-top-right-radius: 4px;
            }
        }

        >.button {
            display: flex;
            color: rgb(255, 255, 255);
            border-radius: 0;

            svg {
                padding-right: 5px;
            }
        }

        >.scratchActive {
            background-color: #0069d9;
        }

        >.symbolsActive {
            background-color: #206F39;
        }

        >.disabled {
            background-color: #767676;
        }
    }
}
