.container {
    width: 50px;
    position: relative;
    left: -40px;
    top: -27px;

    >span {
        flex: 1;
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);

        &:not(:first-child) {
            margin-top: 5px;
        }

        >.button {
            display: flex;
            color: rgb(255, 255, 255);

            svg {
                padding-right: 5px;
            }
        }

        >.scratchActive {
            background-color: rgb(0, 123, 255);
        }

        >.symbolsActive {
            background-color: rgb(72, 204, 112);
        }

        >.disabled {
            background-color: rgb(126, 126, 126);
        }
    }
}
