.footer {
  flex: 0 0 70px;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 2px solid #f1f1f1;
  padding-top: 8px;
  display: flex;
  overflow-y: auto;
}

.edGov {
  flex: 0 0 100px;
}

.edGovImg {
  float: left;
  margin: 0px 25px 0px 10px;
  background-color: #FFF;
  padding: 5px;
}

.footerText {
  font-size: 0.7em;
  color: #8c8c8c;

  a,
  a:hover {
    color: #000000;
  }
}

.benetech {
  flex: 0 0 100px;
}

.benetechImg {
  float: right;
  margin: 0px 10px 0px 25px;
  background-color: #FFF;
  padding: 5px;
}
