.footer {
  flex: 0 0 70px;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 2px solid #f1f1f1;
  display: flex;
}

.edGov {
  flex: 0 0 100px;
  margin: auto;
  text-align: center;
}

.edGovImg {
  // float: left;
  // margin: 0px 25px 0px 10px;
  background-color: #FFF;
  padding: 5px;
}

.footerText {
  font-size: 0.7em;
  color: #8c8c8c;
  flex: 1;

  a,
  a:hover {
    color: #000000;
  }
}

.benetech {
  flex: 0 0 100px;
}

.benetechImg {
  float: right;
  margin: 0px 10px 0px 25px;
  background-color: #FFF;
  padding: 5px;
}

.footerContainer {
  font-size: 16px;
  max-width: 830px;
  margin: auto;
  padding: 10px;

  >div {
    display: flex;
  }
}
