.footer {
  background: gainsboro;
  border-top: 2px solid #f1f1f1;
  font-size: 16px;
}

.footerContainer {
  font-size: 16px;
  max-width: 830px;
  margin: auto;
  padding: 30px 0;
  display: flex;

  * {
    flex: 1;
  }

  img {
    width: 100%;
    padding: 10px;
    max-width: 125px;
    margin-right: 20px;
  }

  .mAuto {
    margin: auto;

    p {
      margin: 0;
    }
  }

  .footerLine {
    padding: 18px 12px;
  }

  >* {
    // width: 50%;
    padding: 0 10px;

    &:hover {
      color: black;
    }

    &.lists {

      .listTitle {
        font-size: 16px;
        padding-bottom: 10px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
      }

      ul {
        padding-inline-start: 0;
        font-size: 12px;
        padding-right: 10px;

        li {
          padding-bottom: 5px;
        }

        a {
          cursor: pointer;
          pointer-events: auto;

          &,
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footerContainer>* {
    flex: 100vw;

    .listTitle {
      margin-top: 10px;
    }
  }
}
