
.modalAreaHeading {
    color: rgb(0, 31, 63);
    font-style: italic;
    font-size: 22px;
    float: left;
    font-weight: bold;
}

.historyWrapper {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 65px;
}

.editorAndHistoryWrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
