@import '../../styles/colors.scss';

.header {
    font-weight: 600;
    color: $primary-color;
    font-size: 2rem;
    padding: 20px 12px;
    font-family: 'Poppins', sans-serif;

    span {
        font-size: 0.8rem;
        font-weight: 300;
        position: relative;
        top: -18px;
        color: $salmon-1;
    }
}

.profile {
    max-width: 200px;
    margin: auto;
    text-align: center;

    .avatar {
        padding: 20px;

        img {
            border-radius: 1.9rem;
            width: 100%;
        }
    }

    .name {
        font-weight: bold;
        color: $primary-color;
        font-size: 20px;
    }

    .title,
    .signout {
        color: $dark-grey-3;
    }

    .title {
        font-size: 0.9rem;
    }

    .signout {
        font-size: 0.8rem;
    }

    >* {
        text-align: center;
    }
}

.actionButtons {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    button {
        padding: 0.325rem 0.5rem;
        min-width: 42px;
        font-size: 0.7rem;
        border-width: 2px;
        border-radius: 8px;
        height: 40px;
        margin: 5px;
        border-color: $primary-color;

        // span {
        //     font-size: 1rem;
        // }

        svg:not(:first-child),
        i:not(:first-child) {
            margin-left: 0.2rem;
            margin-right: 0.1rem
        }
    }

    .right {
        text-align: right;
    }
}

.contrastButtons {
    padding: 10px;
    margin: auto;
    display: inline-flex;

    :global(.ant-radio-group) {
        width: 100%;

        :global(.ant-radio-button-wrapper) {
            font-size: 12px;
            border: 1px solid $primary-color !important;
            box-sizing: border-box;

            padding: 0 12px;

            &:first-child {
                border-radius: 10px 0 0 10px;
            }

            &:last-child {
                border-radius: 0 10px 10px 0;
            }

            &:not([class*=' ant-radio-button-wrapper-disabled']) {
                // &:first-child {
                //     border-right-color:$primary-color;
                // }
                // &:last-child {
                //     border-left-color: $primary-color;
                // }

                &:global(.ant-radio-button-wrapper-checked),
                &:focus,
                &:hover {
                    background: $primary-color;
                    // border-color: $primary-color;
                    color: white;
                    border-left-color: $primary-color;
                }

                &:global(.ant-radio-button-wrapper-checked) {
                    // &:not(:global(.ant-radio-button-wrapper-disabled)):before {
                    //     background-color: white;
                    // }

                    font-weight: bold;
                }

                // &:nth-child(2) {
                //     // &:focus, &:hover {
                //     //     border-left: 1px solid white;
                //     //     border-right: 1px solid white;
                //     //     border-top: 1px solid $primary-color;
                //     //     border-bottom: 1px solid $primary-color;
                //     // }
                // }
            }
        }
    }
}

.sidebar {
    width: 325px;
    display: inline-table;
    background: white;

    .sidebarContainer {

        &.affix {
            position: fixed;
            top: 0;
        }

        width: 325px;
    
        :global(.ant-menu):not(:global(.ant-menu-horizontal)) :global(.ant-menu-item-selected),
        :global(.ant-menu):not(:global(.ant-menu-horizontal)) :global(.ant-menu-item-selected) {
            background-color: white;
            font-weight: bold;
        }
    
        :global(.ant-menu-item) {
            font-size: 17px;
    
            &:not(:global(.ant-menu-item-selected)) {
                color: #737185;
            }

            > a {
                color: #737185;
                text-decoration: none;
            }
        }
    
        :global(.ant-menu):not(:global(.ant-menu-horizontal)) :global(.ant-menu-item-selected),
        :global(.ant-menu):not(:global(.ant-menu-horizontal)) :global(.ant-menu-item-selected) {
            background-color: white;
            font-weight: bold;
        }
    
        :global(.ant-menu-inline) :global(.ant-menu-item::after),
        :global(.ant-menu-inline),
        :global(.ant-menu-vertical),
        :global(.ant-menu-vertical-left) {
            border-right: none;
        }
    }
}