.container {
    padding: 50px;
    background-color: #001F3F;
    min-height: 100vh;

    .content {
        background: white;
        max-width: 550px;
        padding-bottom: 100px;
        width: 100%;
        margin: auto;
        text-align: center;
        border-radius: 4px;


        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;

        .text {
            font-size: 24px;
            font-weight: 400;
            color: #5a5a5a;
        }

        h2 {
            font-size: 22px;
        }

        .subHeading {
            font-size: 22px;
            font-weight: 400;
            color: #5a5a5a;
            padding: 36px;
            padding-bottom: 0;
        }

        .pointer {
            cursor: pointer;
        }

        .logo {
            max-width: 240px;
            padding: 36px 24px;
            background: white;
            margin: auto;

            img {
                width: 100%;
            }
        }

        .largeBtn {
            font-size: 18px;
            padding: 15px;
            background: #c4d9ff;
            color: black;
            border-color: #c4d9ff;
        }

        .largeBtn.otherBtn {
            padding: 10px 25px;
        }

        .btnContainer {
            justify-content: space-evenly;

            .smallBtn {
                font-size: 14px;
                padding: 12px;
                background: #c4d9ff;
                color: black;
                border-color: #c4d9ff;
                max-width: 150px;

                &.confirmBtn {
                    margin-top: 50px;
                }
            }
        }

        .userType {
            padding-top: 50px;

            .userTypeSelect {
                padding-right: 50px;
            }
        }

        .teacherForm, .studentForm {
            padding-top: 35px;
            margin: 0 25px;

            :global(.row):not(:first-child) {
                padding-top: 20px;
            }

            .grade {
                text-align: left;

                >label {
                    margin-right: 12px;
                    padding: 2px 5px;
                    background: lightgray;
                    border-radius: 5px;
                    border: 1px solid darkgray;
                    font-size: 12px;

                    input {
                        margin-right: 10px;
                    }
                }
            }

            fieldset {
                border: 0;
                padding: 0.01em 0 0 0;
                margin: 0;
                min-width: 0;
                display: table;


                legend {
                    padding: 0;
                    display: table;
                    float: left;
                    padding-right: 15px;
                }

                .grade {
                    display: table;
                }
            }


            .disabilities {
                padding-left: 100px;

                :global(.form-group) {
                    text-align: left;

                    input {
                        margin-right: 20px;
                    }
                }
            }
        }

        .teacherForm {
            .descText {
                text-align: right;
            }

            h2 {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .studentForm {
            .descText label {
                font-size: 22px;
                font-weight: 600;
            }
        }

        .descText p {
            font-size: 12px;
        }

        .buttonsContainer {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 0;
            width: 100%;

            >button {
                padding: 10px;
                margin: auto;
            }

        }
    }

}

body:not(:-moz-handler-blocked) .teacherForm fieldset {
    display: table-cell;
}
