.paletteButton {
    padding: 0 !important;
    margin: 0px 0px 4px 4px;
    width: 37px;
    height: 37px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.paletteButton:disabled {
    color: black;
    opacity: 1 !important;
    cursor: default;
}

button.btn-facility {
    background-color: rgb(246, 255, 93);
}

button.btn-operator {
    background-color: rgb(255, 211, 92);
}

button.btn-notation {
    background-color: rgb(0, 255, 154);
}

button.btn-symbol {
    background-color: rgb(164, 121, 255);
}