.heading .topBar {
    max-width: calc(100% - 25px);
    margin: auto;

    .back {
        position: relative;

        >button {
            width: 40px;
            padding-left: 10px;
        }

        svg {
            font-size: 20px;
            display: block;
        }

        padding-right: 20px;
        padding-left: 20px;
        top: 3px;
        position: relative;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #37345B;
        word-break: break-all;
        margin: 0 10px;
    }

    .options {
        float: right;
        top: 15%;
        height: auto;
        width: auto;
        margin-right: 20px;

        svg {
            font-size: 1.5em;
        }
    }
}

.menu {
    :global(.ant-dropdown-menu-item) button {
        color: white;
        padding-left: 8px;
        font-size: 16px;

        span {
            padding-left: 8px;
        }
    }
}