@import '../../styles/colors.scss';

.loginPromptContainer {
    display: flex;
    justify-content: space-between;
    background: rgba(245, 243, 255, 0.42);
    flex-wrap: wrap;

    .left {
        padding-top: 5px;
        padding-left: 10px;

        .notLoggedInContainer {
            display: inline-flex;
            span[role="img"] {
                font-size: 24px;
                margin-right: 10px;
            }
    
            .notLoggedIn {
                color: #37345B;
                font-size: 16px;
                font-weight: bold;
            }
    
            .prompt {
                font-size: 12px;
            }
        }

        .header {
            font-weight: 600;
            color: $primary-color;
            font-size: 1.5rem;
            padding: 8px 12px;
            font-family: 'Poppins', sans-serif;
            min-width: 210px;
        
            // span {
            //     font-size: 0.6rem;
            //     font-weight: 300;
            //     position: relative;
            //     top: -18px;
            //     color: $salmon-1;
            // }

            img {
                height: 32px;
            }

            .beta {
                margin-left: 10px;
                padding: 0 5px;
                background: #37355a;
                border-radius: 4px;
                font: caption;
                color: white;
              }
        }
    }
    .right {
        display: flex;
        padding: 10px;
        min-width: 200px;

        :global(.ant-btn-primary) {
            border-radius: 8px;
        }

        .profileDropdown {
            padding: 0;
            border-radius: 8px;
            height: auto;

            img {
                height: 38px;
                border-radius: 8px;
            }
        }
    }
}
