@import '../../styles/colors.scss';

:global(.grid) {
    .tileContainer {
        width: 315px;
    }

    .tile {
        width: 315px;

        >&:nth-child(2) {
            width: 50%;
        }

        .header {
            display: inline-flex;
            width: 100%;
            height: 62px;

            img {
                margin-right: auto;
            }
        }

        .course {
            padding-top: 12px;
        }

        .problemSetTitle {
            font-size: 32px;
            height: 200px;
        }

        .progressContainer {
            height: 87px;

            .progressText {
                font-size: 26px;

                >span {
                    margin-top: 12px;
                }
            }
        }

        &.newSet {
            margin: auto;
            border: 3px dashed #37345B;
            align-items: center;
            text-align: center;
            min-height: 400px;
            display: flex;

            svg {
                font-size: 84px;
                color: #61CBB8;
            }
        }
    }

    >* {
        cursor: pointer;
    }
}

:global(.line-item) {
    margin: 0;

    .tileContainer {
        width: 100%;

        .tile {
            display: inline-block;
            width: 100%;
            padding: 20px;
            padding-bottom: 8px;
            position: relative;

            .problemSetTitle {
                height: auto;
                font-size: 25px;
            }

            .content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 30px;
            }

            .mainContent {
                width: 70%;
            }

            .progressContainer {
                width: 100%;
                padding-top: 12px;
                position: relative;

                .progressText {
                    font-size: 18px;

                    :global(.progress) {
                        position: relative;
                        top: -10px;
                    }

                    span {
                        margin-top: 2px;
                    }
                }
            }

            .header {
                margin-right: 15px;
                float: left;
            }

            .course {
                font-size: 14px;
            }
        }
    }
}

.tileContainer {
    border-radius: 25px;
    display: flex;
    margin: 20px;

    &:nth-child(3n+1) {
        background: #E3FDF7;
    }

    &:nth-child(3n+2) {
        background: rgba(245, 243, 255, 0.42);
    }

    &:nth-child(3n+3) {
        background: #FBE8E3;
    }
}

.tile {
    text-align: left;
    position: relative;
    box-sizing: border-box;
    color: #37345B;
    border-radius: 30px;
    padding: 25px;
    min-height: 103px;

    .header {

        img {
            width: 62px;
            height: 62px;
            border-radius: 18px;
        }
    }

    .iconContainer {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        padding: 12px;

        .icon {
            align-self: center;

            svg {
                font-size: 30px;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            &:global(.ant-btn-icon-only) {
                padding: 6px 10px;
                width: 60px;
            }
        }

        :global(.ant-dropdown-open) {
            background-color: $primary-color;
            color: white;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    .course {
        color: #6D6A92;
    }

    .problemSetTitle {
        font-weight: bold;
        color: #37345B;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .progressContainer {
        .progressText {
            font-weight: 500;

            >span {
                font-size: 14px;
                font-weight: 300;
                color: #37345B;
                float: right;
            }
        }

        :global(.ant-progress-outer) {
            margin-right: 0;
            padding-right: 0;
        }

        :global(.ant-progress-text) {
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute !important;
            white-space: nowrap;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
    }

    div {
        font-size: 30px;
        font-weight: 600;
    }
}

>* {
    cursor: pointer;
}

@media (max-width: 610px) {
    :global(.grid) .tileContainer {
        width: 315px;
        margin: 10px auto;
    }
}

.menu {
    :global(.ant-dropdown-menu-item) button {
        color: white;
        padding-left: 8px;
        font-size: 16px;

        span {
            padding-left: 8px;
        }
    }
}

@media (max-width: 520px) {
    .tile {
        flex-wrap: wrap;
    }

    .progressContainer {
        .progressText {
            padding-right: 10px;
        }
    }
}

@media (max-width: 400px) {
    .progressContainer {
        .progressText {
            display: flex;
            flex-wrap: wrap-reverse;

            span {
                width: 100%;
            }
        }
    }
}
