.default {
    background-color: rgb(250, 250, 250);
}

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.palette {
    padding: 0;
    margin: 0px 0px 4px 0px;
    width: 37px;
    height: 37px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

.row {
    display: flex;
    margin-right: 25px;
}

.withRightMargin {
    margin-right: 5px;
}

.undo {
    background-color: #f0f0f0;
    background-image: url(/images/undo.png);
}

.undo:active {
    background-image: url(/images/undo.png)!important;
}

.scratch {
    background-color: white;
    background-image: url(/images/scratch.png);
}
