/* style to use if only the screen reader user should hear this */
.sROnly {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

.pointer {
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

#workArea .ML__mathlive {
    font-size: 160%;
}

.staticMath .ML__mathlive,
.ML__fieldcontainer .ML__mathlive,
.mathliveModal .ML__mathlive,
button .ML__mathlive {
    white-space: normal;
    width: 100%;
}