/* style to use if only the screen reader user should hear this */
:global(.sROnly) {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

:global(.pointer) {
    cursor: pointer;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

:global(.body-container) {
    min-height: calc(100vh - 70px);
    display: table;
}

:global(#workArea) :global(.ML__mathlive) {
    font-size: 160%;
}

:global(.staticMath),
:global(.mathliveModal),
:global(button) {
    :global(.ML__mathlive) {
        white-space: normal;
        display: inline;
        word-break: break-word;
    }
}

:global(.ML__mathlive)>:global(.ML__base) {
    display: inline;
}

button :global(.ML__mathlive) {
    text-align: center !important;
}

:global(.ML__fieldcontainer),
:global(.ML__fieldcontainer__field) {
    overflow-x: auto;
}

:global(.ML__fieldcontainer__field) {
    line-height: 75px;
}

:global(.staticMath) :global(.ML__mathlive) :global(.ML__base) :global(.ML__text) {
    white-space: normal;
    user-select: text;
    cursor: text;
}

:global(.mainContainer) {
    margin: auto;
    max-width: 970px;
    margin-top: 75px;

    :global(.row) {
        :global(.title) {
            margin-left: 12px;
        }

        ol {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;

            li {
                list-style-type: none;
                padding: 10px;
                min-width: 150px;
                cursor: pointer;

                >div,
                >button {
                    margin-bottom: 30px;
                    padding: 1.0rem 1.25rem;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    white-space: normal !important;
                    border: 1px solid hsl(0, 0%, 80%) !important;
                    height: 120px;

                    span:global(.centreText) {
                        margin: auto;
                    }
                }
            }
        }
    }
}

:global(.ML__scroller) {
    display: none;
}

nav :global(.dropdown-menu) {
    right: 0;
    left: auto;

    >a {
        cursor: pointer;
    }
}
