/* style to use if only the screen reader user should hear this */
:global(.sROnly) {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

:global(.pointer) {
    cursor: pointer;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

:global(.body-container) {
    display: table;
    width: 100%;

    &:global(.full-height) {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }

    &:global(.dark-background) {
        background-color: #001F3F;
    }
}

:global(#workArea) :global(.ML__mathlive) {
    font-size: 160%;
}

:global(.staticMath),
:global(.mathliveModal),
:global(button) {
    :global(.ML__mathlive) {
        white-space: normal;
        display: inline;
        word-break: break-word;
    }
}

:global(.ML__mathlive)>:global(.ML__base) {
    display: inline;
}

button :global(.ML__mathlive) {
    text-align: center !important;
}

:global(.ML__fieldcontainer),
:global(.ML__fieldcontainer__field) {
    overflow-x: auto;
}

:global(.ML__fieldcontainer__field) {
    line-height: 75px;
}

:global(.staticMath) :global(.ML__mathlive) :global(.ML__base) :global(.ML__text) {
    white-space: normal;
    user-select: text;
    cursor: text;
}

:global(.mainContainer) {
    margin: auto;
    margin-top: 75px;
    padding-bottom: 20px;

    :global(.row) {
        :global(.title) {
            margin-left: 12px;
        }

        ol {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;

            li {
                list-style-type: none;
                padding: 10px;
                min-width: 150px;
                cursor: pointer;

                >div,
                >button {
                    margin-bottom: 30px;
                    padding: 1.0rem 1.25rem;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    white-space: normal !important;
                    border: 1px solid hsl(0, 0%, 80%) !important;
                    height: 120px;

                    span:global(.centreText) {
                        margin: auto;
                    }
                }
            }
        }
    }

    :global(.card) {
        border-radius: 0;
        padding: 4px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    }

    :global(.card):hover {
        box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 6px 0px rgba(0, 0, 0, .12);
    }

    // :global(.card) {
    //     background-color: #fff;
    //     background-color: var(--mdc-theme-surface, #fff);
    //     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    //     display: flex;
    //     flex-direction: column;
    //     box-sizing: border-box;
    //     margin-top: 1px;
    // }
}

@media only screen and (max-width: 1020px) {
    :global(.body-container) :global(.mainContainer) {
        max-width: 90vw;
    }
}

@media only screen and (min-width: 1021px) {
    :global(.body-container) :global(.mainContainer) {
        max-width: 970px;
    }
}

:global(.ML__scroller) {
    display: none;
}

nav :global(.dropdown-menu) {
    right: 0;
    left: auto;

    >a {
        cursor: pointer;
    }
}
