/* style to use if only the screen reader user should hear this */

:global(.sROnly) {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

:global(.pointer) {
    cursor: pointer;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

* {
    -webkit-overflow-scrolling: touch;
}

:global(.body-container) {
    display: table;
    width: 100%;

    &:global(.full-height) {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }

    &:global(.dark-background) {
        background-color: #001F3F;
    }
}

:global(#workArea) :global(.ML__mathlive) {
    font-size: 160%;
}

:global(.staticMath),
:global(.mathliveModal),
:global(button) {
    :global(.ML__mathlive) {
        white-space: normal;
        display: inline;
        word-break: break-word;
    }
}

:global(.ML__mathlive)>:global(.ML__base) {
    display: inline;
}

button :global(.ML__mathlive) {
    text-align: center !important;
}

:global(.ML__fieldcontainer),
:global(.ML__fieldcontainer__field) {
    overflow-x: auto;
}

:global(.ML__fieldcontainer__field) {
    line-height: 75px;
}

:global(.staticMath) :global(.ML__mathlive) :global(.ML__base) :global(.ML__text) {
    white-space: normal;
    user-select: text;
    cursor: text;
}

:global(.staticMath) :global(.ML__mathlive) :global(.ML__base) > span > span {
    line-height: 2.2;
}

:global(.mainContainer) {
    margin: auto;
    margin-top: 75px;
    padding-bottom: 20px;

    :global(.row) {
        :global(.title) {
            margin-left: 12px;
        }

        ol {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;

            li {
                list-style-type: none;
                padding: 10px;
                min-width: 150px;
                cursor: pointer;

                >div,
                >button {
                    margin-bottom: 30px;
                    padding: 1.0rem 1.25rem;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    white-space: normal !important;
                    border: 1px solid hsl(0, 0%, 80%) !important;
                    height: 120px;

                    span:global(.centreText) {
                        margin: auto;
                    }
                }
            }
        }
    }

    :global(.card) {
        border-radius: 0;
        padding: 4px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);

        button>* {
            align-self: center;
        }
    }

    :global(.card):hover {
        box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 6px 0px rgba(0, 0, 0, .12);
    }

    // :global(.card) {
    //     background-color: #fff;
    //     background-color: var(--mdc-theme-surface, #fff);
    //     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    //     display: flex;
    //     flex-direction: column;
    //     box-sizing: border-box;
    //     margin-top: 1px;
    // }
}

@media only screen and (max-width: 1020px) {
    :global(.body-container) :global(.mainContainer) {
        max-width: 90vw;
    }
}

@media only screen and (min-width: 1021px) {
    :global(.body-container) :global(.mainContainer) {
        max-width: 970px;
    }
}

@font-face {
    font-family: 'opendyslexic3';
    src: url('https://cdn.jsdelivr.net/npm/open-dyslexic@1.0.3/ttf/OpenDyslexic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comicneue';
    src: url('https://cdn.jsdelivr.net/npm/@typopro/web-comic-neue@3.7.5/TypoPRO-ComicNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:global(.ML__scroller) {
    display: none;
}

nav :global(.dropdown-menu) {
    right: 0;
    left: auto;

    >a {
        cursor: pointer;
    }
}

:global(.keymap-dialog) {
    width: 600px;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 45, 60, 0.5);
    z-index: 100;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

:global(.keymap-tablecell) {
    padding: 8px;
}

button {
    &:global(.reset-btn) {
        outline: none;
        border: 0px;
        background-color: transparent;
    }
}

.default-outline {
    outline: 5px auto -webkit-focus-ring-color !important;
}

body [tabindex="-1"]:focus {
    @extend .default-outline;
}

[data-skip-link] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

[data-skip-link]:focus {
    padding: 0.7rem;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    z-index: 10;
    width: auto;
    height: auto;
    clip: auto;
    border-radius: 5px;
    @extend .default-outline;
}

:global(.Toastify) {
    position: absolute;

    :global(.Toastify__toast:before) {
        font-family: "FontAwesome";
        font-size: 28px;
        margin-top: 5px;
        margin-left: 5px;
    }

    :global(.Toastify__toast--warning) {
        background-color: #CD0E15;
    }

    :global(.Toastify__toast--info) {
        background-color: #267992;
    }

    :global(.Toastify__toast--info:before) {
        content: "\f05a";
    }

    :global(.Toastify__toast--success) {
        background-color: #3D7B3D;
    }

    :global(.Toastify__toast--success:before) {
        content: "\f058";
    }

    :global(.Toastify__toast--warning) {
        background-color: #CD0E15;
    }

    :global(.Toastify__toast--warning:before) {
        content: "\f06a";
    }

    :global(.Toastify__toast--error) {
        background-color: #bd362f;
    }

    :global(.Toastify__toast--error:before) {
        content: "\f057";
    }

}

:global(.toast-common) {
    padding: 15px;

    h2 {
        font-weight: 600;
        font-size: 16px;
    }

    a {
        color: white;
    }
}

$letterSpacings: 0, 1, 2, 3, 5, 10;
$lineHeights: 1, 1.5, 2;


@each $letterSpacing in $letterSpacings {
    :global(.userConfig-letterSpacing-#{$letterSpacing}) {
        &, button {
            letter-spacing: #{$letterSpacing}px!important;
        }
    }
}

@each $lineHeight in $lineHeights {
    :global(.userConfig-lineHeight-#{$lineHeight}) {
        &, button {
            line-height: #{$lineHeight}!important;
        }
    }
}

:global(.userConfig-font-) {
    &open-dyslexic {
        font-family: OpenDyslexic3, OpenDyslexic;
    }
    &comic-neue {
        font-family: comicneue, monospace;
    }
    &courier-prime {
        font-family: 'Courier Prime', monospace;
    }
    &open-sans {
        font-family: 'Open Sans', sans-serif;
    }
}

:global(#scratch-pad-containter) {
	:global(.ptro-icon-btn),
	:global(.ptro-named-btn),
	:global(.color-diwget-btn),
    :global(.ptro-color-btn),
    :global(.ptro-input),
	:global(.ptro-selector-btn) {
		&:focus {
			outline: 1px dotted;
			outline-offset: -5px;
			outline: 5px auto -webkit-focus-ring-color;
		}
	}
}