.modal {
    background: #fff;
    outline: 0;
    min-width: 250px;
    max-width: 500px;
    border-radius: 4px;
}

.modalHeader,
.modalBody,
.modalFooter {
    padding: 0.5em 1.5em;
}

.modalHeader {
    border-bottom: 1px solid #eee;
}

.modalTitle {
    margin: 0;
}

.modalFooter {
    border-top: 1px solid #eee;
    text-align: right;
}

.button {
    margin-right: 10px;
}

.shareLink {
    width: 400px;
}
