.editor {
    display: block;
    transform-origin: top left;
    transform: scale(1.6, 1.6);
    -webkit-transform: scale(1.6, 1.6);
    -ms-transform: scale(1.6, 1.6);
 }

.annotationContainer {
    display: flex;
    align-items: stretch;
}

 .annotation {
    border: 0px;
    box-shadow: none;
    transition: none;
    resize: none;
    display: block;
    border-radius: 0px;
    width: 280px;
    margin-top: 1px;
    margin-right: 3px;
    border-left: 1px solid rgb(204, 204, 204);
}

.annotationHeader {
    border-left: 1px solid rgb(204, 204, 204);
}

.floatRight {
    float: right;
}

.workArea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    width: inherit;
    height: 122px;
}

.mathEditorActive {
    float: left;
    min-width: 400px;
    margin: 10px;
    overflow-y: auto;
    overflow-x: auto;
    display: inline-block;
    flex-grow: 200;
    padding: 5px;
}

/* Additional styles for Microsoft Edge */
@supports (-ms-ime-align: auto) {
    .annotation {
        resize: both;
    }
}
