@import '../../styles/colors.scss';

.heading {
    .title {
        font-size: 32px;
        text-transform: none;
        color: $primary-color;
        font-weight: bolder;
    }

    .layoutBtns {
        padding: 0px 12px;

        :global(.ant-radio-button-wrapper) {
            padding: 0px 12px;

            &:first-child {
                border-radius: 8px 0 0 8px;
            }

            &:last-child {
                border-radius: 0 8px 8px 0;
            }
        }

        .select {
            min-width: 400px;
        }
    }

    .newSetBtn {
        padding: 6px;
        font-size: 18px;
        white-space: nowrap;
        height: 46px;

        i {
            vertical-align: inherit;
            font-size: 32px;
            padding-right: 8px;
        }
    }
}

.heading {
    .setButtons {
        justify-content: flex-end;
        display: flex;
        margin: auto;
    }

    @media (max-width: 480px) {
        .setButtons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            >* {
                margin: 10px;
            }
        }
    }
}

.problemSetGrid {
    padding-top: 5px;
    padding-bottom: 40px;
    margin: 0 -18px;
    
    &:global(.line-item) {
        margin: 20px;
    }
}

.linkContainer {
    background-color: #FBE8E3;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;

    color: $primary-color;

    .link {
        color: darkblue;
        text-decoration: underline;
    }
}

