.mainWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.leftNavigation {
    overflow-x: hidden;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid #CCC;
}
