.mainWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;

    .btnContainer {
        padding: 10px;
        margin-right: 5px;

        .text {
            margin: auto 5px;
        }

        span {
            margin-left: 5px;
        }
    }
}

.leftNavigation {
    overflow-x: hidden;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid #CCC;

    .googleClassroomContainer {
        display: inline-flex;
        padding: 2px;
        margin-left: 5px;

        .btnText {
            padding: 4px 5px;
        }

        img {
            height: 32px;
        }
    }
}

.actionBar {
    padding: 10px;
    padding-bottom: 0;

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        text-align: right;
        padding: 10px 20px;
    }

    .actionBarText {
        font-size: 20px;
        padding-right: 10px;
        top: 2px;
        position: relative;
    }

    button span {
        padding-right: 5px;
    }
}

.titleHeader {
    display: inline-block;
    margin-right: 15px;
}

@media only screen and (max-width: 800px) {
    .actionBar {
        .right {
            width: 100%;
        }
    }
}

:global(.dropdown) {
    display: inline-grid;

    .spaceInBetween {
        display: flex;
        flex: 1;
    }

    :global(.dropdown-toggle) {
        &:after {
            display: none;
        }
    }

    :global(.dropdown-item) {
        cursor: pointer;
    }
}

.secondRowBtn {
    padding-right: 30px;
}
