.list {
    color: rgb(0, 30, 61);
    opacity: 1;
    position: relative;
}

.background {
    position: relative;
    overflow: none;
    background-color: rgb(255, 255, 255);
    background-image:
        linear-gradient(90deg, transparent 104px, rgba(255, 102, 102, 0.63) 104px, rgba(255, 102, 102, 0.63) 105px, transparent 106px),
        linear-gradient(90deg, transparent 96px, rgba(255, 102, 102, 0.63) 96px, rgba(255, 102, 102, 0.63) 97px, transparent 97px),
        linear-gradient(0deg, rgba(173, 216, 230, 0.63) .15em, transparent .1em);
    background-size: 100%;
    margin-left: -30px;
    margin-right: -30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.padding {
    height: 30px;
    background-image:
        linear-gradient(90deg, transparent 104px, rgba(255, 102, 102, 0.63) 104px, rgba(255, 102, 102, 0.63) 105px, transparent 106px),
        linear-gradient(90deg, transparent 96px, rgba(255, 102, 102, 0.63) 96px, rgba(255, 102, 102, 0.63) 97px, transparent 97px);
}

.finishContainer {
    padding: 30px 0;
}

.btnRow {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    .btnContainer {
        margin: auto 0;
        .carouselBtn {
            height: 50px;
            line-height: 35px;
            border: 2px solid #b05d007a;
            background-color: #fafafa;
        }
    }
}
