.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
}

.content {
    max-width: 830px;
    margin: auto;
    width: 100%;

    .header {
        font-size: 24px;
        font-weight: 400;
        padding: 15px 0;
    }

    .textContent {
        font-size: 18px;
        padding: 10px 0 50px;

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }
}

.headerBottom {
    position: relative;
    margin-top: -18px;
    background: rgb(8, 28, 214);
    height: 34px;
}

.logoContainer {
    max-width: 786px;
    margin: auto;
    width: 100%;

    .midLogo {
        max-width: 325px;
        position: relative;
        top: 15px;
        left: 0;
        right: 0;
        z-index: 1;
    }
}
