.container {
    width: 95vw;
    max-height: 700px;
    background: rgb(218, 218, 218);
    padding: 5px;
    overflow: auto;
    margin: auto;

    caption {
        padding: 0;
    }
}

.header {
    display: grid;
    margin: 10px;

    .tableHeader {
        margin: 5px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }
}

.header .tableHeader,
div.row {
    display: flex;
    justify-content: space-around;
}


.container table {
    width: calc(100% - 20px);
    margin: 10px;
    table-layout: fixed;

    .headerRow {
        th[scope='col'] {
            font-size: 1.25rem;
            font-weight: 500;
            padding: 10px;
            padding-left: 0;

            &:first-child {
                width: 35px;
            }
        }
    }

    .row {
        height: 58px;
        margin: 10px;
        background: rgb(255, 255, 255);

        &:not(:last-child) {
            border-bottom: 10px solid #dadada;
        }

        th[scope='row'] {
            padding-left: 15px;
        }

        td:first-child {
            width: 50%;
        }
    }
}

.cell {
    overflow: auto;
    width: 62%;
}

.titleCell {
    width: 350px;
    padding-left: 10px;
    padding-right: 45px;
}

.tableControlHeader {
    width: 50px;
}

.cell,
.ordinal {
    margin: 10px;
}

.rowControl {
    float: right;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    background: white;
    position: relative;

    > span {
        display: inherit;

        .ttsButton {
            min-width: 50px;
        }
    }
}

.footer {
    height: 50px;
    padding-right: 20px;
}

.positionButtons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.disabled {
    color: rgb(192, 192, 192);
    cursor: not-allowed;
}

.img {
    margin: auto;
}

.titleContainer {
    margin: 15px;

    input {
        width: 100%;
        padding: 10px;
    }
}
