.mathPalette {
    flex-grow: 200;
    margin: 30px;
}

.inputContainer {
    flex-grow: 200;
    height: 220px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.scratchBorder {
    border: 2px solid rgb(0, 123, 255);
}

.symbolsBorder {
    border: 2px solid rgb(72, 204, 112);
}

.scratchPadContainter {
    position: relative;
    width: 100%;
    height: 100%;
}

