.header {
    font-weight: bold;
    float: left;
}

.step {
    font-size: 120%;
    margin-left: 105px !important;
    padding: 5px 55px 10px 0px;
    margin-right: 0px;
    transition: all 1s;

    .ttsBtnContainer {
        margin-top: 10px;
        margin-left: -10px;
        margin-right: 10px;
        width: 40px;

        .ttsButton {
            color: #727272;
        }
    }

    > :not(.ttsBtnContainer) {
        opacity: 0.65;
    }
}

.step>div:first-child {
    min-width: 120px;
}

.cleanup {
    color: rgb(114, 114, 114);
}

.annotationEquation {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3px;
    padding-top: 10px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    width: 120px;
}

button.button {
    background-color: rgb(240, 240, 240);
    transition: all 0.3s;
    flex-shrink: 0;
}

button.button:disabled {
    color: #9a9a9a;
}

.withRightMargin {
    margin-right: 22px;
}

.clearAll {
    height: 37px;
    width: 110px;
    border: 1px solid rgb(204, 204, 204) !important;
}

.btnEdit {
    background-image: url(/images/pencil.png);
}

.btnDelete {
    background-image: url(/images/delete.png);
}

.cleanUpAnnotation {
    color: #727272;
}

.reason {
    margin-top: 8px;
}

.image {
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}
