/* 	Styles for Structure */
/*
	html,body {height: 100%;margin: 0;}
	.mainContent {
	  display: flex;
	  flex-direction: column;
	  height: 100%;
	  height: calc(100% - 75px);
	  height: -moz-calc(100% - 75px);
	  height: -webkit-calc(100% - 75px);
	  width: 1000px;
	  margin: 0px auto;
	}
*/
/*
	.mathHistory {
	  flex-shrink: 10;
	  overflow: auto;
	}
	.mathHistory, .scroll {transform: scale(1,-1);}
	.text-input {resize: vertical;}
*/
	
/* 	Styles From Neil */
/*
	.staticMath {
	max-width: 35em;
	padding: 1ex;
	}
*/
	
html, body {
    height: 100%;
}	


	
.mathEditor {
	margin: 15px 0px 15px 15px;
	min-width: 350px;
}
	
	
.navbar-default {
	background-color: #222F3F;
}

.navbar {
	height: 75px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #FFF;
}

.navbar-nav>li {
	margin-left: 1em;
}

.mathStep {
	border-radius: 5px;
	padding: 5px 0px 5px 0px;
}

/*
.mathStep:nth-child(odd) {
    background-color: #eee;
}
*/

.mathStep {
    border-bottom: 1px solid #CCC;
}

.mathStepTitle {
	float: left;
	width: 125px;
	font-weight: bold;
	font-size: 25px;
	color: #CCC;
	padding-left: 10px;
}

.mathStepAnnotation {
	padding-left: 125px;
}

.paletteButton {
  padding: 0;
  margin: 0px 0px 4px 0px;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0!important;
}

.mathWorkArea {
	 
}

.btn-huge{
	width: 300px;
	height: 150px;
    margin: 0px auto;
    vertical-align: middle;
}

.btn-mic {
	border: 0px;
	background-color: #FFF;
	padding: 0px;
	margin-top: 2px;
}

.form-control {
	border: 0px;
	box-shadow: none;
	transition: none;
	display: inline;
}

.mathEditor .ML__mathlive{
    font-size: 22pt;
}

.btn-default {
	background-color: #fafafa;
}

.modal-header {
    padding:9px 15px;
    border-bottom:0px solid #eee;
    background-color: #222F3F;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: #FFF;
 }
 

 .modal-footer {
    padding:9px 15px;
    border-bottom:0px solid #eee;
    background-color: #222F3F;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 
 
 @keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

pulse.off {
	animation-name: none;	
}
 
.introjs-helperLayer {
	border: 1px solid rgba(255,255,255,1);
	background-color: rgba(255,255,255,.5);
}

/* style to use if only the screen reader user should hear this */
.SROnly {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
 
 

