.modal {
    background: rgb(255, 255, 255);
    outline: 0;
    min-width: 250px;
    max-width: 500px;
    border-radius: 4px;
}

.modalHeader,
.modalBody,
.modalFooter {
    padding: 0.5em 1.5em;
    h1 {
        font-size: 1.75rem;
    }
}

.modalHeader {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.modalTitle {
    margin: 0;
}

.modalFooter {
    border-top: 1px solid rgb(238, 238, 238);
    text-align: right;
}

.modalMessage {
    margin-top: 15px;
}

.button {
    margin-right: 10px;
}

.saveLink {
    width: 400px;
}