.container {
    margin: auto;
    max-width: 1000px;
}

.problemList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.problemList li {
    padding: 10px;
}

li {
    list-style-type: none;
}