.container {
    margin: auto;
    max-width: 1000px;
}

.problemList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    ol {
        display: contents;
    }

    >ol li,
    >div {
        padding: 8px;
    }
}

li {
    list-style-type: none;
}
