
.loginPromptContainer {
    display: flex;
    justify-content: space-between;
    background: #FBE8E3;
    .left {
        display: inline-flex;
        padding-top: 5px;
        padding-left: 10px;

        span[role="img"] {
            font-size: 24px;
            margin-right: 10px;
        }

        .notLoggedIn {
            color: #37345B;
            font-size: 16px;
            font-weight: bold;
        }

        .prompt {
            font-size: 12px;
        }
    }
    .right {
        display: inline-flex;
        padding: 10px;

        :global(.ant-btn-primary) {
            border-radius: 8px;
        }
    }
}