.problem {
    list-style: none;
    margin: auto;
    margin-bottom: 30px;

    >div {
        padding: 1.0rem 1.25rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}

.navItemButton {
    cursor: pointer;
    overflow-y: auto;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.colorInherit {
    background-color: inherit;
}

.problemAnnotation,
.problemAnnotationScaled {
    word-wrap: break-word;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2ex;
}

.problemAnnotationScaled {
    font-size: 1.15em;
    margin-top: -1ex;
}

.trashIcon {
    position: absolute;
    left: 96%;
    bottom: -7%;
}

.plusIcon {
    position: absolute;
    left: 95%;
    bottom: -7%;
}

.editIcon {
    position: absolute;
    left: 83%;
    bottom: -8%;
}

.imgIcon {
    position: absolute;
    left: 93%;
    top: -7%;
}

.navSpan {
    position: relative;
}

.image {
    width: 260px;
    margin-top: 15px;
}

.middle {
    vertical-align: middle;
    width: 300px;
    display: table-cell;
}

.navItemContent {
    align-items: center;
    display: flex;
}

.equation {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.equationOverflownHorizontally {
    justify-content: flex-start;
}

.equationOverflownVertically {
    align-items: flex-start;
}

.contentOverflownHorizontally {
    flex-direction: row;
}

.contentOverflownVertically {
    flex-direction: column;
}
