@import '../../styles/links.scss';
.meta {
    font-size: 12px;
    align-self: flex-end;
    margin: auto;
    margin-right: 50px;
}

.title {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    margin: auto;
}

.problemSetList {
    margin-top: 20px;
    margin-bottom: 40px;

    li:global(.card) > a > img {
        margin-left: -25px;
        margin-right: 30px;
    }
}

div.problemSetList {
    margin-left: 40px;
}

.problemSetDropdown {
    padding: 0 10px;
    margin-left: 20px;
}

.signInLink {
    cursor: pointer;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    &,
    &:hover {
        @extend .resetLink;
    }
}

.signInContainer {
    padding-bottom: 50px;
    padding-top: 15px;
}

.thanksHeader {
    font-size: 24px;
}

:global(.card) .dropdownContainer {
    position: absolute;
    right: 10px;
    .dropdownList {
        margin-left: -360%;
        margin-top: -45px;
    }
}

:global(.mainContainer) {
    .archivedList {
        background-color: #5a6268;
        border-color: #5a6268;
        margin-bottom: 50px;
        margin-top: -25px;
        margin-left: calc(100% - 135px);
        width: 135px;

        &:hover {
            @extend .archivedList;
        }
    }

    // &.isStudent {
    //     margin-top: 35px;
    // }

    :global(.title) {
        font-size: 1rem;
        font-weight: 400;
    }
}

.backBtn {
    margin-bottom: 30px;

    :global(.fa) {
        padding-right: 10px;
    }
}

.benefitsLink {
    display: block;
    border: none;
    font-size: 14px;
}

.problemSetLibrary {
    padding-bottom: 30px;
}

.recentContent {
    padding-top: 15px;
    padding-bottom: 30px;
}

.noArchivedSets {
    padding-bottom: 50px;
}

.loadMoreContainer {
    justify-content: center;
    margin-top: -20px;
    padding-bottom: 30px;
    text-align: center;

    .loadMore {
        &, &:hover, &:focus {
            background-color: #3E3A5F;
            border-color: unset;
        }
    }
}
