@import '../../styles/links.scss';
.meta {
    font-size: 12px;
    align-self: flex-end;
    margin: auto;
    margin-right: 50px;
}

.title {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    margin: auto;
}

.problemSetList {
    margin-top: 20px;
    margin-bottom: 40px;
}

div.problemSetList {
    margin-left: 40px;
}

.problemSetDropdown {
    padding: 0 10px;
    margin-left: 20px;
}

.signInLink {
    cursor: pointer;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    &,
    &:hover {
        @extend .resetLink;
    }
}

.signInContainer {
    padding-bottom: 50px;
    padding-top: 15px;
}

.thanksHeader {
    font-size: 24px;
}

:global(.card) .dropdownContainer {
    position: absolute;
    right: 10px;
    .dropdownList {
        margin-left: -360%;
        margin-top: -45px;
    }
}

:global(.mainContainer) {
    .archivedList {
        background-color: #5a6268;
        border-color: #5a6268;
        margin-top: -8px;

        &:hover {
            @extend .archivedList;
        }
    }

    // &.isStudent {
    //     margin-top: 35px;
    // }

    :global(.title) {
        font-size: 1rem;
        font-weight: 400;
    }
}

.backBtn {
    margin-bottom: 30px;

    :global(.fa) {
        padding-right: 10px;
    }
}

.problemSetLibrary {
    padding-bottom: 30px;
}

.recentContent {
    padding-top: 15px;
    padding-bottom: 30px;
}
