@import '../styles/colors.scss';

:global(#contentContainer) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > :global(.body-container) {
        flex: 1 0 auto;
    }

    > :global(footer#footer) {
        margin-top: auto;
    }
}

:global(.body-container) {
    :global(.ct-sidebar) {
        top: 0rem;
        background-color: #fff;
        border: none;
        padding: 20px;
    }

    @media (min-width: 1008px) {
        :global(.ct-sidebar) {
            padding: 0;
            :global(.ct-sidebar-sroll-container) {
                height: calc(100vh - 120px);
                overflow-y: auto;
                padding: 15px;
            }
        }
    }
}

:global(.ant-layout-content) {
    background: white;
}

:global(.ant-layout-sider) {
    :global(.ant-layout-sider-zero-width-trigger) {
        display: none;
    }
}


:global(.ant-dropdown) {
    padding: 0;
    :global(.ant-dropdown-menu) {
        margin-top: -5px;
        padding: 0;
        :global(.ant-dropdown-menu-item) {
            background-color: $primary-color;
            padding: 10px;
            border-bottom: 1px solid white;
            color: white;
    
            a, button {
                color: white;
            }
    
            &:global(.ant-select-item-option-active) {
                font-weight: 800;
            }

            &:first-child {
                border-top-left-radius: 8px;
            }

            &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    &:global(.ant-dropdown-placement-bottomRight) > :global(.ant-dropdown-arrow) {
        border-top-color: $primary-color;
        border-left-color: $primary-color;
        margin-top: -5px;
    }
}

*:focus {
    outline: rgb(0, 95, 204) auto 1px !important;
    outline-offset: 5px !important;
}

:global(.ant-popover-inner) {
    margin-right: 8px;
}

:global(.ant-notification-notice) {
    max-width: calc(100vw - 50px);
}

// :global(.ML__keyboard) {
//     &, :global(.keyboard-toolbar ){
//         padding: 0 10px;
//     }
// }
