.btnContainer {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    .textArea {
        resize: none;
        max-height:300px;
        width: 90%;
        margin-bottom: 8px;

        &:focus {
            outline-color: rgb(0, 95, 204);
            outline-width: 1.11111px;
            outline-style: auto;
        }
    }
}
