.title {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.question {
    margin-right: 0;
    overflow: hidden;
}

.mathEllipsis {
    margin-left: 4px;
    margin-right: 24px;
    color: white;
}

.header {
    z-index: 1;
    min-height: 60px;
    align-items: center;
    background-color: rgb(0, 98, 217);
    padding: 7px;
    display: flex;
}

.subHeader {
    background: #b05e00;
    padding: 10px 50px;
    font-size: 14px;

    span.question {
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        /* IE 10+ */
        &::-webkit-scrollbar {
            /* WebKit */
            width: 0;
            height: 0;
        }
    }

    .imageBtn {
        background-color: #fafafa;
        margin-right: 15px;
    }
}

.btnContainer {
    white-space: nowrap;
}

.backBtnContainer {
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 5px;
}

.button {
    margin-right: 5px;
}

.editLink {
    margin-right: 5px;
    min-width: 400px;
}

.editLinkLabel {
    color: rgb(255, 255, 255);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: rgb(92, 184, 92);
}

.btnDelete {
    background-image: url(/images/delete.png);
}

.btnEdit {
    background-image: url(/images/pencil.png);
}

.btnFinish {
    background-color: rgb(72, 204, 112);
    color: rgb(255, 255, 255);
}

.iconBtn {
    background-color: rgb(255, 255, 255);
    padding: 0;
    width: 24px;
    height: 24px;
}

.timeContainer {
    color: white;
    padding: 0 5px;
    font-size: 12px;
    padding-right: 25px;
}

:global(.dropdown) {
    .dropDownMenu {
        background-color: #fafafa;
        padding: 0.4rem 0.8rem;

        &::after {
            display: none;
        }
    }
}
