.title {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.header {
    z-index: 1;
    flex: 0 0 60px;
    background-color: rgb(0, 98, 217);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    white-space: nowrap;
}

.btn {
    margin-right: 5px;
}
