.title {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.header {
    z-index: 1;
    min-height: 60px;
    align-items: center;
    background-color: rgb(0, 98, 217);
    padding: 7px;
    display: flex;
}

.btnContainer {
    white-space: nowrap;
    margin-left: auto;
}

.backBtnContainer {
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 5px;
}

.button {
    margin-right: 5px;
}

.editLink {
    margin-right: 5px;
    min-width: 400px;
}

.editLinkLabel {
    color: rgb(255, 255, 255);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: rgb(92, 184, 92);
}
