html, body {
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

/* FLEX LAYOUT  */
.mainWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contentWrapper {
  display: contents;  
}
.header, .footer {
  flex: 0 0 50px;
}

/* Note:  the 'hidden' value for overflow-x is due to a bootstrap bug in "row" that causes the 
 *   horizontal scrollbars to appear:  https://github.com/twbs/bootstrap/issues/8959
 * The work around mentioned near the bottom of that thread (adding class="container-fluid")
 *   didn't work.
 */
.leftNavigation {
overflow-x: hidden;
  overflow-y: auto;
  flex: 0 0 100%;
  background-color: #FFFFF;
  border-right: 1px solid #CCC;
}

/*
.leftNavigation ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.leftNavigationBackgroundActive {
    background-color: #0073D9 !important;
    color: #FFF;
}

.leftNavigationBackgroundActive .navItemButton {
    color: #fff;
}

.leftNavigation li {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

*/
.navItemButton {
    cursor:pointer;
}

.problemAnnotation {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2ex;
}

.problemEquation {
    display: block;
    text-align: center;
    padding-left: 15px;
}

.navItemButton {
  border: none;
  background-color: inherit;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.problemHeader {
    z-index: 1;
    flex: 0 0 60px;
    background-color: #0062d9;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.problemFooter {
    flex: 0 0 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.problemTitle {
    font-size: 1.2em;
    color: #FFF;
    margin: 0px;

}

.editorAndHistoryWrapper {
  width: 100%;
overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editorWrapper {
  flex: 0 0 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.historyWrapper {
overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

#historyWorkSeparator {
  flex: 0 0 50px;
  padding-left: 10px;
}

a {
    cursor: pointer;
}

.navbar-default {
    background-color: #001F3F;
}

.navbar {
    height: 75px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #FFF;
}

.navbar-nav>li {
    margin-left: 1em;
}

.mathStep {
    font-size: 120%;
    padding: 5px 0px 10px 0px;
}

.mathStepTitle {
    float: left;
    width: 125px;
    font-weight: bold;
    font-size: 25px;
    color: #CCC;
    padding-left: 10px;
}

.mathStepAnnotation {
    padding-left: 125px;
}

.pointer {
    cursor:pointer;
}

.mathEditor .ML__mathlive {
   display: block;
   transform-origin: top left;
   transform: scale(1.6, 1.6);
   -webkit-transform: scale(1.6, 1.6);
   -ms-transform: scale(1.6, 1.6);
}

.mathStep .ML__mathlive {
   display: block;
   transform-origin: top left;
   transform: scale(1.15, 1.15);
   -webkit-transform: scale(1.15, 1.15);
   -ms-transform: scale(1.15, 1.15);
}

.mathWorkArea {

}

.myWorkArea {
  z-index: 1;
  display: grid;
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #add8e6bf;
}

.paperSheet {
  background: -webkit-linear-gradient(top, #add8e6a1 0%, #FFF 8%) 0;
  -webkit-background-size: 100% 40px;
}

.paperSheet::before {
  z-index: 0;
  content: '';
  width: 8px;
  position: absolute;
  top: 0;
  left: 90px;
  bottom: 0;
  border-left: 1px solid;
  border-right: 2px solid;
  border-color: #ff6666a1;
}

.paletteButton {
  padding: 0;
  margin: 0px 0px 4px 0px;
  width: 37px;
  height: 37px;
  border: 1px solid #CCC;
  cursor: pointer;
}

.btn-huge{
    width: 300px;
    height: 150px;
    margin: 0px auto;
    vertical-align: middle;
    white-space: normal;
    border: 1px solid #CCC;
}

.btn-mic {
    border: 0px;
    background-color: #FFF;
    padding: 0px;
    margin-top: 2px;
}

.form-control {
    border: 0px;
    box-shadow: none;
    transition: none;
    display: inline;
    border-radius: 0px;
}

.btn-default {
    background-color: #fafafa;
}

.btn-delete {
    background-color: #f0f0f0;
    background-image: url(../images/delete.png);
}

.btn-delete:active {
    background-image: url(../images/delete.png)!important;
}

.btn-undo {
    background-color: #f0f0f0;
    background-image: url(../images/undo.png);
}

.btn-undo:active {
    background-image: url(../images/undo.png)!important;
}

.btn-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.btn-facility {
    background-color: #f6ff5d;
}

.btn-operator {
    background-color: #ffd35c;
}

.btn-notation {
    background-color: #00ff9a;
}

.btn-symbol {
    background-color: #a479ff;
}

#addStep:disabled {
    background: #5896e16e;
}

 .modalAreaHeading {
     color:#001F3F;
     font-style: italic;
     font-size: 22px;
     float: left;
     font-weight: bold;
 }
 
 @keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

pulse.off {
    animation-name: none;
}

/* the whole modal */
 .introjs-overlay {
    opacity: 0.2 !important; /* opacity set in style on element, so need to override */
}
 
/* used on *both* the element being referenced and the instructions/buttons element */
.introjs-helperLayer {
    border: 1px solid rgba(255,255,255,1);
}

/* used on the element being referenced -- want more transparency */
.introjs-fixedTooltip {
/* 	background-color: rgba(0, 150, 255, 0.2); */
}

.introjs-fixedTooltip {
    background-color: rgba(0, 150, 255, 0.2);
}

/* instructions, progress, and buttons */
.introjs-tooltip {
/* 	background-color: rgba(0, 150, 255, 0.9); */
}

/* just the instruction text */
.introjs-tooltiptext {
}

/* button properties (enabled and disabled buttons)
 * Background set by 'background-image: linear-gradient(#8e2424,#a76a6a);'  in introjs.css
 * This needs to have the value 'unset' if background-color is used instead
 */
.introjs-button, introjs-disabled {
/* 	background-image: linear-gradient(rgb(9, 193, 249),#e2e9f1); */
}

/* done button */
.introjs-donebutton {
/* 	background-image: linear-gradient(rgb(0, 255, 0),#e2e9f1);	 */
}

/* style to use if only the screen reader user should hear this */
.SROnly {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.stepHeader {
    font-weight: bold;
    float: left;
}

.mathPalette {
    float: left;
    padding-right: 25px;
/* 	margin-right: 10px; */
}
 
.grayedOutCleanup {
    color:#727272;
}
 

